//RESET
*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}
//GENERAL
body{
    min-height: 100vh;
}
.logoDalujoConstrucciones{
    width: 20vw;
}
    //ASIDE
.bgNaranja{
	background-color: map-get($map: $colors, $key: 'naranja')
}
.bgNegro{
    background-color: map-get($map: $colors, $key: 'negro')
}
.index_main_sistema{
    width: 20vw;
}
//MAIN
.index_main_imgUno{
    max-width: 20em;
}
//MODELOS
.table{
    width: 80vw;
}
#filtroProducto{
    padding:10px;
    border-radius: 10px;
}
input[type=search] {
    width: 20%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}
input[type=search]:focus {
    width: 40%;
}
.errorDeCarga{
    width: 30vw;
}

