// colors
$colors:(
  'green': hsl(132, 100%, 65%),
  'white': hsl(131, 33%, 87%),
  'darkGrey': hsla(127, 8%, 20%, 0.5),
  'grey': hsl(0, 0%, 47%),
  'darkGreenTrans':hsla(132, 100%, 65%, 0.5),
  'violeta': hsl(326, 89%, 39%),
  'naranja': hsl(17, 88%, 49%),
  'blancoPuro': hsl(0, 17%, 95%),
  'azul': hsl(251, 100%, 30%),
  'rojo': hsl(0, 100%, 30%),
  'rojoTrans': hsla(0, 64%, 44%, 0.432),
  'rojoProfundo': hsla(353, 100%, 18%, 0.4),
  'verde': hsl(128, 100%, 30%),
  'amarillo': hsl(56, 100%, 30%),
  'darkYellow': hsl(38, 56%, 32%),
  'black':hsl(120, 100%, 0%),
  'morado': hsl(300, 89%, 24%),
  'moradoTrans': hsla(300, 89%, 24%, 0.5),
  'moradoOsc': hsl(300, 97%, 15%),
  'rosado': hsl(355, 83%, 77%),
  'rosadoTrans': hsla(354, 82%, 85%, 0.7),
  'arcoiris1':hsl(358, 56%, 53%) 16.666%,
  'arcoiris2':hsl(14, 73%, 57%) 16.666%,
  'arcoiris3':hsl(14, 73%, 57%) 33.333%,
  'arcoiris4':hsl(26, 86%, 60%) 33.333%,
  'arcoiris5':hsl(26, 86%, 60%) 50%,
  'arcoiris6':hsl(74, 22%, 49%) 50%,
  'arcoiris7':hsl(74, 22%, 49%) 66.666%,
  'arcoiris8':hsl(221, 36%, 44%) 66.666%,
  'arcoiris9':hsl(221, 37%, 44%) 83.333%,
  'arcoiris10':hsl(308, 40%, 47%) 83.333%,
);
//breakpoints
$breakpoints: (
  ssm: 200px,
  sm : 576px,
  md : 768px,
  lg : 992px,
  xl : 1200px,
);
//mixins
@mixin media_up ($breakpoint) {
  @media screen and (min-width: map-get($breakpoints,$breakpoint)){
    @content
  }
};
// name selector{@include media_up(ssm/sm/md/lg){Element to changue}}
@mixin d_flex ($f_direction,$j_content) {
  display: flex;
  flex-direction: $f_direction;
  justify-content: $j_content;
};
// name selector{@include d_flex(column/row,flex-start/center/flex-end/space-between/space-around/space-evenly/);}
@mixin contact_span ($btn_width,$btn_height,$btn_background){
  width: $btn_width;
  height: $btn_height;
  background: $btn_background;
};
// name selector{@include contact_span(width,height,background);}