@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Oxygen:wght@300;400;700&display=swap");
h1,
h2,
h3,
h4,
h5 {
  font-family: "Alegreya Sans", sans-serif; }

p {
  font-family: "Oxygen", sans-serif;
  margin: 0px; }

h1 {
  color: #eb4d0f; }

h1,
h2 {
  text-align: center; }

.textWhite {
  color: #d3e9d7; }

.textGreen {
  color: #4dff70; }

.textNaranja {
  color: #eb4d0f; }

.styleNav {
  list-style: none; }

.navLink {
  text-decoration: none;
  margin: 0.4em; }

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box; }

body {
  min-height: 100vh; }

.logoDalujoConstrucciones {
  width: 20vw; }

.bgNaranja {
  background-color: #eb4d0f; }

.bgNegro {
  background-color: black; }

.index_main_sistema {
  width: 20vw; }

.index_main_imgUno {
  max-width: 20em; }

.table {
  width: 80vw; }

#filtroProducto {
  padding: 10px;
  border-radius: 10px; }

input[type=search] {
  width: 20%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out; }

input[type=search]:focus {
  width: 40%; }

.errorDeCarga {
  width: 30vw; }

.bg_Negro {
  background-color: black;
  color: #d3e9d7; }

.footer_Img_Logo {
  border-radius: 50%;
  width: 20vh;
  height: 20vh; }

.max_width {
  max-width: 100vw; }

.navFooter {
  text-decoration: none;
  color: #d3e9d7;
  margin: 0.4em; }

.asideLink {
  text-decoration: none;
  color: #d3e9d7; }
